#nodeList {
  width: 100%;
  position: relative;
}
#nodeList .container {
  width: 100%;
  max-width: 500px;
  margin: 0 auto;
  padding: 80px 0;
}
#nodeList .container .gap {
  padding: 0 15px;
}
#nodeList .container .gap .title h1 {
  font-weight: 600;
  color: #333;
  font-size: 32px;
}
#nodeList .container .gap .title p {
  font-size: 16px;
  color: #666;
  padding: 30px 0;
}
#nodeList .container .gap .content table {
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
}
#nodeList .container .gap .content table th, #nodeList .container .gap .content table td {
  padding: 15px 10px;
  text-align: center;
  font-size: 16px;
  border: 1px solid #333;
}
#nodeList .container .gap .content table th:nth-child(2), #nodeList .container .gap .content table td:nth-child(2) {
  width: 60%;
}
#nodeList .container .gap .content table td a {
  color: #999;
  transition: all 0.3s ease;
}
#nodeList .container .gap .content table td a:hover {
  color: #000;
}
#nodeList .modal {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
  width: 100%;
  height: 100vh;
  background: rgba(0, 0, 0, 0.3);
  display: flex;
  justify-content: center;
  align-items: center;
}
#nodeList .modal .modal_container {
  width: 500px;
  height: 250px;
  background: #fff;
  border-radius: 5px;
  overflow: hidden;
}
#nodeList .modal .modal_container .top {
  width: 100%;
  height: 45px;
  background: #333;
  display: flex;
  align-items: center;
  justify-content: end;
}
#nodeList .modal .modal_container .top button {
  background: transparent;
  border: 0;
  color: #fff;
  font-weight: 600;
  padding: 0 30px;
  font-size: 18px;
}
#nodeList .modal .modal_container .bottom {
  width: 100%;
  height: 210px;
  text-align: center;
}
#nodeList .modal .modal_container .bottom p {
  font-size: 16px;
  color: #333;
  font-weight: 500;
  padding: 40px 0 10px 0;
}
#nodeList .modal .modal_container .bottom h5 {
  font-size: 15px;
}
#nodeList .modal .modal_container .bottom .start {
  display: flex;
  justify-content: center;
  padding: 20px 0 60px 0;
}
#nodeList .modal .modal_container .bottom .start input {
  margin: 0 15px;
  width: 60%;
  padding: 10px 15px;
  border: 0;
  border-bottom: 2PX solid #333;
  outline: 0;
  font-size: 16px;
}
#nodeList .modal .modal_container .bottom .start button {
  padding: 0 15px;
  background: #fff;
  border-radius: 3px;
  border: 1px solid #333;
  font-size: 16px;
  font-weight: 600;
  color: #333;
  cursor: pointer;
  transition: all 0.3s ease;
}
#nodeList .modal .modal_container .bottom .start button:hover {
  background: #333;
  color: #fff;
}